wsdl/ecat.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:JAXWS="http://java.sun.com/xml/ns/jaxws" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="OtelSait" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="OtelSait" name="ObmenSait" targetNamespace="OtelSait">
  <JAXWS:bindings>
    <package xmlns="http://java.sun.com/xml/ns/jaxws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="async.client"></package>
    <enableAsyncMapping xmlns="http://java.sun.com/xml/ns/jaxws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">true</enableAsyncMapping>
  </JAXWS:bindings>
  <types>
    <xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="OtelSait" attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="OtelSait">
      <xs:element name="GetNomSvobod">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DatN" type="xs:string"></xs:element>
            <xs:element name="DatK" type="xs:string"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetNomSvobodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GetNomSvobodRequestMessage">
    <part element="tns:GetNomSvobod" name="parameters"></part>
  </message>
  <message name="GetNomSvobodResponseMessage">
    <part element="tns:GetNomSvobodResponse" name="parameters"></part>
  </message>
  <portType name="ObmenSaitPortType">
    <operation name="GetNomSvobod">
      <input message="tns:GetNomSvobodRequestMessage"></input>
      <output message="tns:GetNomSvobodResponseMessage"></output>
    </operation>
  </portType>
  <binding name="ObmenSaitSoapBinding" type="tns:ObmenSaitPortType">
    <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soapbind:binding>
    <operation name="GetNomSvobod">
      <soapbind:operation soapAction="OtelSait#ObmenSait:GetNomSvobod" style="document"></soapbind:operation>
      <input>
        <soapbind:body use="literal"></soapbind:body>
      </input>
      <output>
        <soapbind:body use="literal"></soapbind:body>
      </output>
    </operation>
  </binding>
  <binding name="ObmenSaitSoap12Binding" type="tns:ObmenSaitPortType">
    <soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap12bind:binding>
    <operation name="GetNomSvobod">
      <soap12bind:operation soapAction="OtelSait#ObmenSait:GetNomSvobod" style="document"></soap12bind:operation>
      <input>
        <soap12bind:body use="literal"></soap12bind:body>
      </input>
      <output>
        <soap12bind:body use="literal"></soap12bind:body>
      </output>
    </operation>
  </binding>
  <service name="ObmenSait">
    <port binding="tns:ObmenSaitSoapBinding" name="ObmenSaitSoap">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"></wsi:Claim>
      </documentation>
      <soapbind:address location="http://93.127.6.18:8082/gostproba/ws/ObmenSait_ws1.1cws"></soapbind:address>
    </port>
    <port binding="tns:ObmenSaitSoap12Binding" name="ObmenSaitSoap12">
      <soap12bind:address location="http://93.127.6.18:8082/gostproba/ws/ObmenSait_ws1.1cws"></soap12bind:address>
    </port>
  </service>
</definitions>
